
h1 {
    color: red;
    background-color: orange;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
}

p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.velky {
    font-size: 20px;
}





/* tohle je komentář */
/* 
TODO: ještě dodělat animaci

Pavel říkal, že by to měl raději zelené, ale já to chci červené! 

 */



