* {
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

body {
    margin: 0;
    padding: 3px;
}

header {
    background-color: #923158;
    height: 10vh;
    line-height: 10vh;
    padding: 10px;
    padding-left: 20px;
}

nav {
    background-color: #6e1237;
    height: 8vh;
    line-height: 8vh;
    padding: 5px;
    padding-left: 20px;
}

footer {
    background-color: #58254b;
    height: 8vh;
    padding: 5px;
    padding-left: 20px;
    line-height: 8vh;
}

.inner-aside {
    background-color: #b65b80;
}


main {
    background-color: #b65b80;
    
}

.right {
    background-color: #b65b80;
    text-orientation: upright;
    writing-mode: vertical-lr;
}

section {
    background-color: #db92af;
    margin-left: 0;
}

